<h1>Tasks Needing to be Done:</h1>

<% @tasks.each do |task| %>
  <a href="/tasks/<%= task.id %>" title="Edit Task">
    <div>
      Task: <%= task.to_do %>
    </div>
    <div>
      Amount: <%= task.amount_earned %>
    </div>
      Status: <%= task.status %>
  </a>
    <% if user_is_child? %>
      <div>
        <%= button_to "Complete", "/update_status/#{task.id}", method: :patch, params: { status: "pending" } %>
      </div>
    <% else %>
      <div>
        <% if task.status == "pending" %>
          <%= button_to "Approve", "/update_status/#{task.id}", method: :patch, params: { status: :complete } %>
          <%= button_to "Not actually complete", "/update_status/#{task.id}", method: :patch, params: { status: "incomplete" } %>
        <% end %>
      </div>
    <% end %>
<% end %>
