<%= form_tag "/tasks", method: :post do %>

  <div>
    <%= label_tag :to_do %>
    <%= text_field_tag :to_do %>
  </div>

  <div>
    <%= label_tag :amount_earned %>
    <%= text_field_tag :amount_earned %>
  </div>

  <div>
    <%= select_tag :child, options_from_collection_for_select(current_user.children, 'id', 'email') %>
  </div>

  <div>
    <%= submit_tag %>
  </div>

<% end %>