<h1>Welcome to your dashboard!</h1>

<h2>Tasks Needing to be Done:</h2>

<% @tasks.each do |task| %>
  <a href="/tasks/<%= task.id %>" title="Edit Task">
    <div>
      Task: <%= task.to_do %>
    </div>
    <div>
      Amount: <%= task.amount_earned %>
    </div>
      Status: <%= task.status %>
  </a>
<% end %>

<h2>Bank Account:</h2>
  <h3> Current Balance To Spend:</h3> 
    <p> <%= @current_balance %> Points </p>

  <h3> Current Investments:</h3>
    <h5>
      <% @array_of_each_investment.each do |each_investment| %>
          <ol>
            <div>
              Created: <%= each_investment [0]%>
            </div>
            <div>
              Duration Invested: <%= each_investment [5]%> days
            </div>
              Days Remaining: <%= each_investment[6] %>
            <div>
              Days Passed: <%= each_investment[1] %>
            </div>
            <div>
              Rate: <%=each_investment [2]%>
            </div>
            <div>
              Amount Originally Invested: <%=each_investment [3]%>
            </div>
            <div>
              Amount You Have Today: <%=each_investment [4]%>
            </div>
          </ol>
      <% end %>
    </h5>

  <h3> Total Investments:</h3>
    <p><%= @total_investments %></p>

      <h3> Test:</h3>
    <p><%= @test %></p>

  <h3> Total Investments + Balance Today: </h3>
    <p><%= @investments_and_balance %></p>
  <h3> Current Interest Rate: </h3>
    <p> <%= @current_interest %> per day </p>

<h2>Ready to Shop?</h2>
  <div>
    <%= link_to "I'm ready to shop!", "/rewards" %>
  </div>

<h2>Actually, I'm Ready To Invest</h2>
  <%= form_tag "/child_dashboard", method: :post do %>

  <div>
    <%= label_tag :money_invested %>
    <%= text_field_tag :money_invested %>
  </div>

  <div>
    Days To Save: <%= select_tag :duration, options_for_select(["30", "90", "180", "360"]) %>
  </div>

  <div>
    <%= submit_tag "Save Away!" %>
  </div>

<% end %>