<div ng-app="app">

  <div ng-controller="parentsCtrl" ng-init="setup(<%= current_user.id %>)">

    <div class="header-parent">
      <div class="container">
        <nav class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <% if user_is_child? %>
            <a href="<%= child_dashboard_path %>" class="navbar-brand scroll-top">Belay</a>
            <% else %>
            <a href="<%= parent_dashboard_path %>" class="navbar-brand scroll-top"><img id="parentlogo" src="assets/logo_v1.png"></a>
            <% end %>
          </div>
          <div id="main-nav" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#" class="scroll-link" data-id="add">Add Tasks/Rewards</a></li>
              <li><a href="#" class="scroll-link" data-id="tasks">Tasks</a></li>
              <li><a href="#" class="scroll-link" data-id="rewards">Rewards</a></li>
              <li><a href="#" class="scroll-link" data-id="checkoff">Approve</a></li>
              <li><a href="#" class="scroll-link" data-id="interest">Set An Interest Rate</a></li>
              <% if user_signed_in? %>
              <li><a href="<%= edit_user_registration_path %>">Edit Account</a></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <section class="title-parent">
      <div class="container">
        <h1>Welcome to your dashboard, {{ first_name }}</h1>
        <div class="clock">
          <h2><span>Current local time in</span><br />Chicago, United States</h2> <iframe src="http://www.zeitverschiebung.net/clock-widget-iframe?language=en&timezone=America%2FChicago" width="100%" height="130" frameborder="0"></iframe>
        </div>
      </div>
    </section>

    <section class="parallax-1">
      <div class="container">
      </div>
    </section>

    <section class="parallax-2">
      <div class="container">
        <h1>Kick back and...</h1>
      </div>
    </section>

    <section class="parallax-3">
      <div class="container">
        <h1>...pour yourself a glass.</h1>
      </div>
    </section>

    <section id="add" class="page-section">
      <div class="container">
        <h3>Add a Task</h3>
            <div>
              Task:  <input ng-model="toDo" placeholder="e.g.: Clean your room"><br />
              Points You Want Them to Earn:  <input ng-model="amountEarned" placeholder="e.g.: 500"><br /><br />
              <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
              <button ng-click="addTask(toDo, amountEarned, myChild)">Save</button>
            </div>
        <h3>Add a Reward</h3>
            <div>
              Reward:  <input ng-model="rewardDescription" placeholder="e.g.: Late curfew"><br />
              Points You Want It to Cost:  <input ng-model="amountCost" placeholder="e.g.: 800"><br />
              Image URL:  <input ng-model="image" placeholder="e.g.: http://www.website/image.jpeg"><br /><br />
              <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
              <button ng-click="addReward(rewardDescription, amountCost, image, myChild)">Save</button>
            </div>
        <a href="#" class="scroll-top back-to-top">^</a>
      </div>
    </section>

    <section class="parallax-4a">
      <div class="container">
        <h1>Life is indeed like a fine wine...</h1>
      </div>
    </section>

    <section class="parallax-4">
      <div class="container">
      </div>
    </section>

    <section id="tasks" class="page-section">
      <div class="container">
        <div class="parentsphoto wow fadeInRight" data-wow-duration="6s" data-wow-delay="1s"><img ng-src="{{ image_url }}"><h5>Your current photo, {{ first_name }}.</h5></div>
        <div ng-repeat="child in children" ng-click="toggleTask(child)">
          <div>
            <h3>{{ child.first_name }}'s To Do List</h3>
          </div>
          <span ng-show="child.show">
            <table class="table table-hover">
              <tr>
                <th ng-click="toggleOrder('to_do')">Task</th>
                <th ng-click="toggleOrder('amount_earned')">Amount</th>
                <th>Edit</th>
              </tr>
              <tr ng-repeat="task in child.incomplete_tasks | orderBy:orderAttribute:descending">
                <td ng-hide="task.enableEditor">{{ task.to_do }}</td>
                <td><input ng-show="task.enableEditor" ng-model="task.to_do"></td>
                <td ng-hide="task.enableEditor">{{ task.amount_earned }}</td>
                <td><input ng-show="task.enableEditor" ng-model="task.amount_earned"></td>
                <td><a href="" ng-click="enableTaskEdit(task)">Edit</a>
                  <span ng-show="task.enableEditor">
                    <a href="" ng-click="saveTask(task, task.to_do, task.amount_earned)">Save</a>
                    <a href="" ng-click="disableEditor(task)">Cancel</a>
                    <a href="" ng-click="deleteTask(task)">Delete</a>
                  </span>
                </td>
              </tr>
            </table>
          </span>
        </div>
        <a href="#" class="scroll-top back-to-top">^</a>
      </div>
    </section>

    <section class="parallax-5">
      <div class="container">
        <h1>The first task of a leader is to keep hope alive.<br />-JB</h1><br /><br />
        <h1>While you build them up,<br />build yourself up, too.</h1><br /><br /><br />
      </div>
    </section>

    <section class="parallax-5b">
      <div class="container">
        <h1>...you know you deserve it.</h1>
      </div>
    </section>

    <section class="parallax-6">
      <div class="container">
        <h1>In the meantime...</h1>
      </div>
    </section>

    <section id="rewards" class="page-section">
      <div class="container">
          <div ng-repeat="child in children" ng-click="toggleReward(child)">
          <div>
            <h3>{{ child.first_name }}'s Rewards</h3>
          </div>
           <span ng-show="child.show">
            <table class="table table-hover">
              <tr>
                <th ng-click="toggleOrder('description')">Description</th>
                <th ng-click="toggleOrder('amount_cost')">Price</th>
                <th ng-click="toggleOrder('image_url')">Image/URL</th>
                <th>Edit</th>
              </tr>
              <tr ng-repeat="reward in child.rewards_not_bought | orderBy:orderAttribute:descending">
                <td ng-hide="reward.enableEditor">{{ reward.description }}</td>
                <td><input ng-show="reward.enableEditor" ng-model="reward.description"></td>
                <td ng-hide="reward.enableEditor">{{ reward.amount_cost }}</td>
                <td><input ng-show="reward.enableEditor" ng-model="reward.amount_cost"></td>
                <td ng-hide="reward.enableEditor"><img ng-src="{{ reward.image_url }}" width="100"></td>
                <td><input ng-show="reward.enableEditor" ng-model="reward.image_url"></td>
                <td><a href="" ng-click="enableRewardEdit(reward)">Edit</a>
                  <span ng-show="reward.enableEditor">
                    <a href="" ng-click="saveReward(reward, reward.description, reward.amount_cost, reward.image_url)">Save</a>
                    <a href="" ng-click="disableEditor(reward)">Cancel</a>
                    <a href="" ng-click="deleteReward(reward)">Delete</a>
                  </span>
                </td>
              </tr>
            </table>
          </span>
        </div>
        <a href="#" class="scroll-top back-to-top">^</a>
      </div>
    </section>

    <section class="parallax-7">
      <div class="container">
        <h1>To be in your children's memories tomorrow,</h1>
        <h1>you have to be in their lives today.</h1>
        <h1>-BJ</h1>
      </div>
    </section>
      
    <section id="checkoff" class="page-section">
      <div class="container">
        <h2>Check Off Time!</h2>
          <h3>¯\_(ツ)_/¯</h3>
          <div ng-repeat="child in children">
            <h3>{{ child.first_name }}'s Stuff</h3>
            <table class="table in table-hover">
              <tr>
                <h4>The best preparation for good work tomorrow is to do good work today. -EH</h4>
                <th ng-click="toggleOrder('to_do')">Task</th>
                <th ng-click="toggleOrder('amount_earned')">Points</th>
                <th>Even if {{ child.first_name }} didn't complete it give 'em a hug, anyway. :)</th>
              </tr>
              <tr ng-repeat="task in child.tasks_needing_approval | orderBy:orderAttribute:descending">
                <td>{{ task.to_do }}</td>
                <td>{{ task.amount_earned }}</td>
                <td><button ng-click="approveTask(task.id)">Approve
                </button>
                <button ng-click="incompleteTask(task.id)">Incomplete</button></td>
              </tr>
            </table>
            <table class="table in table-hover">
              <tr>
                <h4>The highest reward for a person's toil is not what they get for it, but what they become by it. -JR</h4>
                <th>Photo</th>
                <th ng-click="toggleOrder('description')">Description</th>
                <th ng-click="toggleOrder('amount_cost')">Price</th>
                <th>Decisions, decisions...</th>
              </tr>
              <tr ng-repeat="reward in child.rewards_needing_approval | orderBy:orderAttribute:descending">
                <td><img ng-src="{{ reward.image_url }}" width="100"></td>
                <td>{{ reward.description }}</td>
                <td>{{ reward.amount_cost }}</td>
                <td><button ng-click="approveOrder(reward.id)">Approve</button>
                <button ng-click="cancelOrder(reward.id)">Cancel Order</button></td>
              </tr>
            </table>
          </div>
        <a href="#" class="scroll-top back-to-top">^</a>
      </div>
    </section>

    <section id="interest" class="page-section">
      <div class="container">
        <h1>The ability to discipline yourself to delay gratification in the short term in order to enjoy greater rewards in the long term, is the indispensable prerequisite to success.</h1>
        <h1>-BT</h1>

        <h3>Set interest rate per day for your children's investments:</h3>
          <div ng-repeat="child in children">
            <ol>
              <div>
                {{ child.first_name }}'s Current Interest Rate: {{ child.interest_rate }}
              </div>
            </ol>
          </div>

        Set Interest Rate: <input ng-model="interestRate" placeholder="e.g.: 10% = .10">
        <select ng-model="myChild" ng-options="child.first_name for child in children"></select>
        <button ng-click="addInterestRate(interestRate, myChild)">Save</button>
        <div><a href="#" class="scroll-top back-to-top">^</a></div>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  // navigation click actions 
  $('.scroll-link').on('click', function(event){
    event.preventDefault();
    var sectionID = $(this).attr("data-id");
    scrollToID('#' + sectionID, 750);
  });
  // scroll to top action
  $('.scroll-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({scrollTop:0}, 'slow');     
  });
  // mobile nav toggle
  $('#nav-toggle').on('click', function (event) {
    event.preventDefault();
    $('#main-nav').toggleClass("open");
  });
});
// scroll function
function scrollToID(id, speed){
  var offSet = 50;
  var targetOffset = $(id).offset().top - offSet;
  var mainNav = $('#main-nav');
  $('html,body').animate({scrollTop:targetOffset}, speed);
  if (mainNav.hasClass("open")) {
    mainNav.css("height", "1px").removeClass("in").addClass("collapse");
    mainNav.removeClass("open");
  }
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>

<script>
 new WOW().init();
</script>