<!DOCTYPE html>
<html>
<head>
  <title>Belay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <% if user_is_child? %>
    <li><%= link_to 'My Dashboard', child_dashboard_path %></li>
  <% else %>
    <li><%= link_to 'My Dashboard', parent_dashboard_path %></li>
  <% end %>
<% end %> -->
<%= yield %>

</body>
</html>
